[Unit]
Description=Mesos Slave
After=network.target

[Service]
ExecStart=/usr/bin/mesos-init-wrapper slave
Restart=on-failure

[Install]
WantedBy=multi-user.target
