[Unit]
Description=Mesos Master
After=network.target

[Service]
ExecStart=/usr/bin/mesos-init-wrapper master
Restart=on-failure

[Install]
WantedBy=multi-user.target
